# Learn more: https://help.github.com/articles/ignoring-files

# node and yarn dependencies
**/node_modules/*
# learn more about Plug'n'Play: https://yarnpkg.com/features/pnp
**/.pnp/*
**/.pnp.js
# restrict tracked files to npm
yarn.lock

# testing
**/coverage/*

# misc
**/*-debug.log*
.DS_Store
.env.*local

# Firebase
**/.firebase/

# Next.js
**/.next/
