.App {
  text-align: center;
  background-color: #FCFFFD;
}

/* .App-header {
  background-color: #64B6AC;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

/* .navbar {
  background-color: #64B6AC;
} */

.font-face-js {
  font-family: "JosefinSans"
}

.font-face-inter {
  font-family: "Inter"
}