html, body, #__next {
  height: 100%;
}

#__next {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "App" "Footer";
  grid-template-rows: 1fr 5.5em;
  row-gap: 2em;
}

footer {
  grid-area: Footer;
}

a {
  color: inherit;
}
