body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  font-family: "Josefin Sans", sans-serif;
}

.badges {
  height: 200px;
  border-radius: 40% ;
  padding: 30px;
}

@font-face {
  font-family: "Josefin Sans";
  src: local("JosefinSans"),
  url("./fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
  /* font-weight: bold; */
  }

  @font-face {
    font-family: "Inter";
    src: local("Inter"),
    url("./fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    /* font-weight: bold; */
    }